.body{
    background-image: url(T.W.O.J_BG.png);
    
    
}

.img{
    height: 275px;
    width: 275px;
    border-radius: 50%;
    margin-top: 100px;
    position: fixed;
}


.logo{
    height: 275px;
    width: 275px;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 60px;
    position: center;

}



.h1{
    color: aliceblue;
    text-align: center;
}


.about_h1{
    margin-left: 800px;
    margin-top: 65px;
    color: white;
    text-decoration: underline;
}

.about{
    display: flex;
    gap: 150px;
    
}

.h3{
    color: white;
}

.br{
    text-decoration: underline;
}
